:root{
    --bg-color: linear-gradient(90deg, blueviolet,orange, green, rgb(232, 49, 144), red);
    --btn-font: 32px;
}



/* .hover-effect{
    border:none;
    height: 80px;
    width: 200px;
    display: grid;
    place-items: center;
    cursor: pointer;

    font-size: var(--btn-font);
    background-image: var(--bg-color);

    background-size: 300%;
    background-position: left;

    transition: background-position 1s;


}
.hover-effect:hover{
    background-position: right;
} */



/* .bg-animation{
    height: 500px;
    background-image: var(--bg-color);

    background-size: 400%;
    background-position: left;

    animation: testBg 20s infinite alternate;
}


@keyframes testBg {
    0%{
        background-position: left;
    }
   
    
    100%{
        background-position: right;
    }

} */

/* .title{
    font-size: var(--btn-font);
    text-transform: uppercase;

    background-image: var(--bg-color);

    background-size: 300%;
    background-position: left;
    animation: titleBg 3s infinite alternate;

    background-clip: text;
    color: transparent;
}
@keyframes titleBg {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
} */

/* .title2{
    font-size: var(--btn-font);
    text-transform: uppercase;

    background-image: var(--bg-color);

    background-size: 300%;
    background-position: left;
    animation: title2Bg 1s infinite alternate;

    background-clip: text;
    color: transparent;
}

@keyframes title2Bg {
    0%{
        background-position:left;
    }
    100%{
        background-position: right;
    }
} */

.hover-effect{
    border: none;
    height:80px ;
    width: 200px;
    display: grid;
    place-items: center;
    cursor: pointer;

    font-size: var(--btn-font) ;
    background-image: var(--bg-color);

    background-size: 300%;
    background-position: center;

    transition: banckground-position 1s;
}
.hover-effect:hover{
    background-position: right;
}
.bg-animation{
    height: 500px ;
    background-image: var(--bg-color);

    background-size: 400%;
    background-position: left;
    
    animation: testBg 20s infinite alternate;

}
.title{
    font-size: var(--btn-font);
    text-transform: uppercase;

    background-image: var(--bg-color);
    
    background-size:300% ;
    background-position: left;
    animation: testBg 3s infinite alternate;

    background-clip:text;
    color: transparent;


}

@keyframes testBg{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}